* {
  box-sizing: border-box;
}

html, 
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-wrap {
  width: 100%;
  margin: 20px auto;
  /* to keep everything in device size borders */
  overflow-x: hidden;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
}

img {
  display: block;
}

img.story-cover-img {
  /* 
    crop effect over most important story's image
    to maintain the importance
  */
  position: relative;
  left: 100%;
  margin-left: -100%;
}

a {
  color: lightblue;
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
}

h1 {
  font-size: 4em;
}
h1, h2 {
  margin: 0 0 10px 0;
}

.story-intro h1 {
  font-size: 2.5em;
}

.story-intro p {
  margin: 0;
}

/* Convert this into a flexbox container */
.sub-stories {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.sub-story {
  float: left;
  margin: .3em;
  width: 250px;
  position: relative;
  font-size: 60%;
}

.sub-story > img {
  width: 100%;
}

.last {
  margin-right: 0;
}  

/* Media Queries */
@media only screen and (min-width: 768px) {
  /* show full image if device is tablet or a desktop kind */
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  /* show full image if device is tablet or a desktop kind */
  .sub-story {
    width: 45%;
  }
}