@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100,200,300,400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a {
  color: #3572B0;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

img {
  display: block;
}

h1, h2, h3, p {
  margin: 10px 0;
}

.page-wrap {
  width: 840px;
  margin: 20px auto;
}

.content
{
  display: flex;
  flex-direction: row;
}

.description img
{
  width: 360px;
  margin-right: 20px;
}

.card {
  width: 360px;
  height: 460px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
}

div[class*='card--'] {
  margin: 20px 0;
}

.card-wrapper {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 20px;
}

.card--head {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.card--head > img {
  width: 64px;
}

.card--body {
  width: 100%;
  margin: 20px 0;
}

.card--body > .support {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.card--body > .support > div {
  display: flex;
  flex-direction: column;
}

.right { 
  text-align: right;
  justify-content: right;
  align-items: flex-end;
}

.middle {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.middle > img {
  width: 160px !important;
  height: 79px !important;
}

.card--body > .support-info {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.card--body > .support-info > div > p {
  color: #999999;
  font-size: 10px;
  margin: 5px 0;
}

.card--body > .support-info > div > .label {
  border: 1px solid;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 600;
  padding: 0 5px;
}

.label.primary {
  color: #4A6785 !important;
  border-color: #CCCCCC !important;
}

.label.warning {
  color: #594300 !important;
  border-color: #FFE9A8 !important;
}

.card--body > .support > div > img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.card--body > .info {
  color:#333333;
  margin: 30px 0;
}

.card--body > .info > h3 { 
  font-size: 20px;
  font-weight: 400;
}

.card--body > .info > p {
  font-size: 14px;
  font-weight: 100;
  color: #333333;
}

.card--footer {
  font-family: 'Roboto-Medium',sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--footer > button { 
  color: #FFF;
  background-color: #3572B0;
  border-radius: 3px;
  width: 145px;
  height: 30px;
}

